* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: black;
}

.container {
    width: 100%;
    max-width: 512px;
    padding: 40px 24px;

}

.server {
    position: relative;
    background: #25301c;
    padding: 40px 24px;
    border-radius: 30px;
    margin-bottom: 40px;
    text-align: left;
}

.chat {
    position: absolute;
    position: relative;
    background: #352721;
    padding: 40px 24px;
    border-radius: 30px;
    margin-bottom: 40px;
    text-align: left;

}

.elenco {
    color: antiquewhite;

}