* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    width: 100%;
    justify-content: center;
    background-color: black;
    max-width: 500px;
    position: relative;

}


/* container */
.container {
    display: flex;
    background-color: rgb(68, 68, 48);

}


/* Header */

.sidebar {
    display: flex;
    height: 100vh;
    
    position: relative;
    flex-direction: column;
    background-color: rgb(36, 36, 41);
    padding: 10px 10px 0;
    gap: 10px;
}

.sidebar img {
    display: flex;
    width: 60px;
    height: 60px;

}

.icon img {
    border-radius: 50%;

}



/* main */
main {
    width: 100%;
    height: 100vh;
}

.top {
    color: white;
    padding: 20px 10px 0;
    font-family: "DM Sans", sans-serif;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

.due-bottoni {
    display: flex;
    gap: 10px;


}

.friends button {
    color: white;
    background-color: rgb(48, 46, 65);
    display: flex;
    width: 290px;
    height: 24px;
    border-radius: 10px;
    justify-content: center;
    border: transparent;
}

.search button {
    color: white;
    background-color: rgb(48, 46, 65);
    width: 24px;
    height: 24px;
    border-radius: 10px;
    border: transparent;

}

/* chat */

.chats {
    display: flex;
    color: white;
    flex-direction: column;
    position: relative;
    padding: 40px 20px 0;
    gap: 10px;

}

.mono-chat {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
}

.pic img {
    width: 40px;
    height: 40px;
    border-radius: 50px;

}

.name {
    display: flex;
    flex-basis: 200px;
    height: 28px;

}

.chat {

    display: flex;
    flex-wrap: wrap;

}


/* footer */
footer {
    display: flex;
    background-color: rgb(47, 47, 70);
    padding: 0;
    height: 100vh;
    height: 80px;
    max-width: 500px;
    align-content: center;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-content: baseline;
}

.profilo
 img {
    width: 40px;
    height: 40px;
    border-radius: 50px;

}